<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-default" %>
<% end %>
<%= link_to 'Back', students_path, class: "btn btn-default" %>
